@page "/basket" 
@inject IBasketService BasketService

@if(CurrentBasket is null)
{
    <p>Loading Basket...</p>
}
else
{
<ul>
    @foreach(var basketItem in CurrentBasket.BasketItems)
    {
        <li>@basketItem.Product?.Name - @basketItem.Quantity</li>
    }
</ul>
}

@code {

    public BasketModel CurrentBasket { get; set; }

    protected async override Task OnInitializedAsync()
    {
        CurrentBasket = await BasketService.GetBasket();
    }
} 