@page "/"

<h1>Hello, world!</h1>

<p>Welcome to your new app.</p>

<AuthorizeView>
    <Authorized>
        <p>Currently Authorized Roles:</p>
    </Authorized>
    <Authorizing>
        <p>Checking auth status...</p>
    </Authorizing>
    <NotAuthorized>
        <p>You are not currently logged in.</p>
    </NotAuthorized>
</AuthorizeView>
<ul>
    <AuthorizeView Roles="User">
        <li>User</li>
    </AuthorizeView>
    
    <AuthorizeView Roles="Admin">
        <li>Admin</li>
    </AuthorizeView>
</ul>