@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <LoginDisplay />
            <a href="https://github.com/Lewis-Allen/The-Rubber-Duck-Emporium" target="_blank" class="ml-md-auto">View on GitHub</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
